<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Analyzer</title>
</head>
<body>

  <header>
    <div class="container">
      <h1> Анализатор текста</h1>
    </div>
  </header>
  
  {% block content %}{% endblock %}
    
  <div class="container">
    <table class="table-primary">
      <thead class="thead-dark">
        <tr>
          <th>Слово</th>
          <th>Использование в тексте, (tf)</th>
          <th>Jбратная частота документа, (idf)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>###</td>
          <td>###</td>
          <td>###</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</body>
</html>